/* Styling for the main calculator container */
.calculator {
  width: 320px;
  margin: 0 auto; /* Center the calculator horizontally */
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #6e6e6ec0; /* Semi-transparent background color */
}

/* Styling for the calculator heading */
.calculator-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Add space below the heading */
  color: #333;
}

/* Styling for the output area where the equation and result are displayed */
.output-area {
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px; /* Add space below the output area */
  text-align: right; /* Right-align the text within the output area */
}

/* Styling for the displayed equation text */
.equation {
  font-size: 24px;
  margin-bottom: 5px; /* Add space below the equation text */
  color: #333;
}

/* Styling for the displayed result text */
.result {
  font-size: 36px;
  margin-bottom: 5px; /* Add space below the result text */
  color: #333;
}

/* Styling for the grid of calculator buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a grid with four equal-width columns */
  gap: 15px; /* Add space between grid items */
}

/* Styling for each calculator button */
button {
  font-size: 24px;
  padding: 20px; /* Button padding */
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

/* Styling for the button on hover */
button:hover {
  background-color: #333; /* Change background color on hover */
  color: #f0f0f0; /* Change text color on hover */
}
